@use '/src/styles/variables.scss' as vars;

.calendar-container {
    padding: 30px 120px 30px 120px;
    .event-content {
        display: flex;
        flex-grow: 1;
        .event-edit {
            display: flex;
            flex-direction: column;
            max-width: 420px;
            min-width: 420px;
            padding: 30px;
            position: relative;
            border-radius: 15px;
            background-color: vars.$first-color;
            .edit-controller {
                display: flex;
                flex-direction: row-reverse;
                .edit-buttons {
                    color: vars.$fourth-color;
                    font-size: 18px;
                    border-style: none;
                    background-color: transparent;
                }
            }
        }
        .hidden-edit {
            width: 0;
            min-width: 0;
            max-width: 0;
            padding: 0;
            overflow: hidden;
        }
    }
}
