<div class="calendar-container">
    <div class="calendar-title">
        <h1>Calendrier de tâches</h1>
    </div>
    <div class="event-content">
        <app-event-list></app-event-list>
        <div [class.hidden]="!rightContent.isActivated" class="kairos-box-shadow event-edit">
            <div class="edit-controller">
                <button class="edit-buttons" [routerLink]="['/calendar']"><fa-icon [icon]="faPencil"></fa-icon></button>
                <button class="edit-buttons" [routerLink]="['/calendar']"><fa-icon [icon]="faXmark"></fa-icon></button>
            </div>
            <router-outlet #rightContent="outlet"></router-outlet>
        </div>
    </div>
</div>