<div>
  <button (click)="prevMonthCalendar()">Prev</button>
  <button (click)="currentMonthCalendar()">Current</button>
  <button (click)="nextMonthCalendar()">Next</button>
</div>

<div>
  {{currentMonthName || 'No month selected'}}
</div>

<table *ngIf="currentCalendarMonth">
  <thead>
    <td *ngFor="let weekday of currentCalendarMonth.weekdays">
      {{ weekday }}
    </td>
  </thead>
  <tbody>
    <tr *ngFor="let day of currentCalendarMonth.calendar">
      <ng-container *ngFor="let date of day">
        <td>
          {{ date }}
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
