<div class="calendar-wrapper calendar-title" style="margin-top: 30px">
  <h1>Calendrier de tâches</h1>
</div>
<div class="calendar-wrapper kairos-box-shadow" style="margin-top: 20px">
  <a *ngIf="hasSelectedDate()" [routerLink]="'add'">
    Add event to calendar
  </a>

  <div class="calendar">
    <div class="calendar-controls">
      <button (click)="prevMonthCalendar()">Previous</button>
      <button (click)="currentMonthCalendar()">{{currentMonthName || 'No month selected'}} {{currentYearName || 'No year selected'}}</button>
      <button (click)="nextMonthCalendar()">Next</button>
    </div>

    <table *ngIf="currentCalendarMonth" class="calendar-table">
      <thead class="calendar-weekday">
        <td *ngFor="let weekday of currentCalendarMonth.weekdays">
          {{ weekday }}
        </td>
      </thead>
      <tbody class="calendar-date">
        <tr *ngFor="let day of currentCalendarMonth.calendar">
          <ng-container *ngFor="let date of day">
            <td [ngClass]="{'today': isToday(date), 'not': isOtherMonth(date, day), 'selected': isSelectedDay(date, day)}" (click)="selectDay(date, day)">
              <span>{{ date }}</span>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>

<div *ngIf="groups" class="calendar-wrapper kairos-box-shadow" style="margin-top: 30px;display: grid;gap: 30px">
  <div *ngFor="let group of groups">
    <div>
      <h2>{{group.groupName}}</h2>

    </div>
    <hr />
    <div style="display: grid;gap: 15px">
      <div *ngFor="let event of group.events">
        <h3>{{event.eventTitle}}
          <span style="padding: 0 4px; color: #33576c">|</span>
          {{event.eventDate | date: 'dd.MM.yyyy' }}</h3>
        <p>{{event.eventDescription}}</p>
      </div>
    </div>
  </div>
</div>
