@use '/src/styles/variables.scss' as vars;

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    border-radius: 15px;
    color: vars.$first-color;
    background-color: vars.$fourth-color;
    .tiny-timer {
        font-size: 24px;
    }
}