<div class="calendar-wrapper kairos-box-shadow" style="margin-top: 30px">
  <h2>Add an event</h2>

  <form [formGroup]="eventForm" class="calendar-form">
    <div class="calendar-form-control" style="flex-direction: row; gap: 40px; margin-top: 15px">
      <div style="display:flex; flex-direction: row; gap: 10px;">
        <label>Group</label>
        <select formControlName="group">
          <option *ngFor="let group of groups" [value]="group.groupId">{{group.groupName}}</option>
        </select>
      </div>

      <div style="display:flex; flex-direction: row; gap: 10px;">
        <label>Label</label>
        <select formControlName="label">
          <option *ngFor="let label of labels" [value]="label.labelId">{{label.labelTitle}}</option>
        </select>
      </div>
    </div>
    <div class="calendar-form-control">
      <label>Title</label>
      <input formControlName="title" placeholder="Title">
    </div>
    <div class="calendar-form-control">
      <label>Description</label>
      <textarea formControlName="description" placeholder="Description"></textarea>
    </div>
    <div class="calendar-form-control">
      <label>Date</label>
      <input formControlName="date" type="datetime-local" placeholder="Date">
    </div>
    <div class="calendar-form-control">
      <button [disabled]="!eventForm.valid" type="button" (click)="addEvent()">Create this event</button>
    </div>
  </form>
</div>
