@use '/src/styles/variables.scss' as vars;

.calendar-wrapper {
  margin: 0 auto;
  width: min(100%, 800px);
  padding: 20px;
  border-radius: 30px;
  background: vars.$first-color;
}

.calendar-form {
  display: grid;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  & .calendar-form-control {
    display: flex;
    flex-direction: column;
  }
}
