@use '/src/styles/variables.scss' as vars;

:host {
    display: block;
    padding: 12px;
    background-color: vars.$first-color;
    min-width: 360px;
    max-width: 360px;
    min-height: 150px;
    // max-height: 330px;
    border-radius: 15px;
    transition: ease-out 0.2s;
    &:hover {
        transform: scale(1.05);
        box-shadow: 2px 2px 5px 0px rgba(51,87,108,0.75);
        -webkit-box-shadow: 2px 2px 5px 0px rgba(51,87,108,0.75);
        -moz-box-shadow: 2px 2px 5px 0px rgba(51,87,108,0.75);
        transition: ease-out 0.2s;
    }
    .card-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 15px;
        hr {
            background-color: vars.$fourth-color;
        }
        .card-title {
            font-size: 24px;
        }
        // .card-description {
        //     overflow-x: hidden;
        //     overflow-y: visible;
        // }
        .card-data {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p {
                padding: 5px;
                border-style: solid;
                border-width: 1px;
                border-radius: 5px;
            }
        }
    }
}

.focused {
    transform: scale(1.05);
}