@use '/src/styles/variables.scss' as vars;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
    body {
        height: 100%;
        color: vars.$fourth-color;
        background-color: vars.$second-color;
    }
}

.hidden {
    opacity: 0;
}

.kairos-button {
    width: 50%;
    height: 100%;
    font-size: 20px;
    color: vars.$first-color;
    border-style: none;
    border-radius: 10px;
    background-color: vars.$fourth-color;
    &:active {
        transform: scale(0.95);
        background-color: darken(vars.$fourth-color, 7%);
    }
    &:disabled {
        background-color: darken(vars.$fourth-color, 7%);
    }
}

.kairos-box-shadow {
    box-shadow: 5px 5px 15px 0px rgba(51,87,108,0.75);
    -webkit-box-shadow: 5px 5px 15px 0px rgba(51,87,108,0.75);
    -moz-box-shadow: 5px 5px 15px 0px rgba(51,87,108,0.75);
}

.kairos-timer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.kairos-alert {
    color: vars.$first-color;
    background-color: vars.$down-rate-color;
}

.kairos-valid {
    color: vars.$first-color;
    background-color: vars.$up-rate-color;
}

.kairos-info {
    color: vars.$fourth-color;
    background-color: vars.$first-color;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-background {
    background-image: url('./assets/img/Mock-up_4K_V2.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
}
