@use '/src/styles/variables.scss' as vars;

.timer-app-container {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 5%;
    background-color: vars.$first-color;
    box-shadow: 5px 5px 15px 0px rgba(51,87,108,0.75);
    -webkit-box-shadow: 5px 5px 15px 0px rgba(51,87,108,0.75);
    -moz-box-shadow: 5px 5px 15px 0px rgba(51,87,108,0.75);
    .time-controler {
        width: 30px;
        height: 30px;
        color: vars.$fourth-color;
        font-size: 30px;
        background-color: transparent;
    }
    .wrap {
        padding: 30px;
        display: inline-block;
        justify-content: center;
        text-align: center;
        .timer-container {
            position: relative;
            width: 250px;
            height: 250px;
            line-height: 250px;
            border-radius: 50%;
            margin: 15px;
            .timer {
                display: inline;
                width: 250px;
                height: 250px;
                svg {
                    position: absolute;
                    left: 0;
                    .circle-anim-countdown {
                        stroke-dasharray: 770;
                        stroke-dashoffset: -770;
                        animation: animateCircle 20s linear infinite;
                        animation-play-state: paused;
                    }
                    .background-countdown {
                        opacity: 0.5;
                    }
                }
                .time {
                    margin: 10px;
                    font-size: 32px;
                    color: vars.$fourth-color;
                }
            }
        }
        .control-container {
            width: 100%;
            height: 35px;
            button{
                margin: 15px
            }
        }
    }
}

@keyframes animateCircle {
    from {
        stroke-dashoffset: 0;
    }
}