@use '/src/styles/variables.scss' as vars;

#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .timer-tongue {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 50%;
        height: 30px;
        font-size: 30px;
        border-radius: 12px 12px 0 0;
        border-style: none;
        background-color: vars.$first-color;
    }
}
.timer-countdown-container {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 5%;
    background-color: vars.$first-color;
    .time-controler {
        width: 30px;
        height: 30px;
        color: vars.$fourth-color;
        font-size: 30px;
        background-color: transparent;
    }
    .wrap {
        padding: 30px;
        display: inline-block;
        justify-content: center;
        text-align: center;
        .timer-container {
            position: relative;
            width: 250px;
            height: 250px;
            line-height: 250px;
            border-radius: 50%;
            margin: 15px;
            .timer {
                display: inline;
                width: 250px;
                height: 250px;
                svg {
                    position: absolute;
                    left: 0;
                    .circle-anim-countdown {
                        stroke-dasharray: 770;
                        stroke-dashoffset: -770;
                        animation: animateCircle 20s linear infinite;
                        animation-play-state: paused;
                    }
                    .background-countdown {
                        opacity: 0.5;
                    }
                }
                .time {
                    margin: 10px;
                    font-size: 32px;
                    color: vars.$fourth-color;
                }
            }
        }
        .control-container {
            width: 100%;
            height: 35px;
            button{
                margin: 15px
            }
        }
    }
}

@keyframes animateCircle {
    from {
        stroke-dashoffset: 0;
    }
}