<div class="landing-container">
    <div id="title-container" class="hide">
        <h1 class="app-title">{{title}}</h1>
        <p class="app-subtitle">{{subTitle}}</p>
    </div>
    <div id="auth-container" class="hide">
        <a class="auth-button kairos-box-shadow" href="{{ linkLogin }}/auth/login/google"><fa-icon [icon]="faGoogle"></fa-icon> Se connecter avec Google</a>
        <a class="auth-button kairos-box-shadow" href="{{ linkLogin }}/auth/login/microsoft"><fa-icon [icon]="faMicrosoft"></fa-icon>Se connecter avec Microsoft</a>
    </div>
</div>
