.event-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .highlights {
        display: flex;
        flex-direction: column;
        .highlight {
            width: 100%;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

