<div class="statistics-container">
    <h1>Tableau de bord</h1>
    <div class="statistics-grid">
        <div class="weekly-statistics">
            <h2 class="weekly-title">Durée des sessions (semaine 31.10.2022 au 06.11.2022)</h2>
            <canvas id="weekly-chart"
            baseChart
            width="1000"
            height="400"
            [type]="'line'"
            [data]="weeklyLineChartData"
            [options]="weeklylineChartOptions"
            [legend]="weeklyLineChartLegend">
            </canvas>
        </div>
        <div class="work-rate">
            <h2 class="work-rate-title">Taux de travail</h2>
        </div>
        <div class="session-time">
            <h2 class="session-time-title">Temps de travail par session</h2>
        </div>
        <div class="session-type">
            <h2 class="session-type-title">Types de sessions de travail</h2>
            <canvas id="session-doughnut"
            baseChart
            width="500"
            height="500">
            [type]="'doughnut'"
            [labels]="typeDoughnutChartLabels"
            [datasets]="typeDoughnutChartDatasets"
            [options]="typeDoughnutChartOptions"
            [legend]="true"
            </canvas>
        </div>
    </div>
</div>
