<div class="statistics-container">
    <div class="statistics-title">
        <h1>Tableau de bord <span class="statistics-date">{{stat.getCurrentWeek()}}</span></h1>
        <p class="work-rate-text">{{ workRateTxt }}<fa-icon class="chart-icon" [icon]="faArrowTrend"></fa-icon></p>
    </div>
    <div class="statistics-content">
        <div class="kairos-box-shadow stat-grid-div weekly-statistics">
            <h2 class="weekly-title">Durée des sessions</h2>
            <div class="chart-container">
                <canvas id="weekly-chart" height="300"
                baseChart
                [type]="'line'"
                [data]="weeklyLineChartData"
                [options]="weeklyLineChartOptions"
                [legend]="weeklyLineChartLegend">
                </canvas>
            </div>
        </div>
        <div class="kairos-box-shadow stat-grid-div session-time">
            <h2 class="session-time-title">Temps de travail par session</h2>
            <div class="chart-container">
                <canvas id="session-time-bar" height="300"
                baseChart
                [type]="'bar'"
                [data]="timeBarChartData"
                [options]="timeBarChartOptions"
                [plugins]="timeBarChartPlugins"
                [legend]="timeBarChartLegend">
                </canvas>
            </div>
        </div>
        <div class="kairos-box-shadow stat-grid-div session-type">
            <h2 class="session-type-title">Types de sessions de travail</h2>
            <div class="chart-container">
                <canvas id="session-type-doughnut"
                baseChart 
                [type]="'doughnut'"
                [labels]="typeDoughnutChartLabels"
                [datasets]="typeDoughnutChartDatasets"
                [options]="typeDoughnutChartOptions"
                [legend]="true">
                </canvas>
            </div>
        </div>
    </div>
</div>
