<div class="statistics-container">
  <div class="statistics-title">
    <h1>Tableau de bord <span class="statistics-date"></span></h1>
    <div class="work-rate-text">
      <p *ngIf="!isRateLoaded">
        <span class="work-rate-text">Chargement du taux de travail...</span>
      </p>
      <p *ngIf="currentRate > 0 && isRateLoaded" class="chart-icon-up">
        {{ currentRate }}%
        <fa-icon [icon]="faArrowTrend"></fa-icon>
      </p>
      <p *ngIf="currentRate <= 0 && isRateLoaded" class="chart-icon-down">
        {{ currentRate }}%
        <fa-icon *ngIf="currentRate <= 0" [icon]="faArrowTrendDown"></fa-icon>
      </p>
    </div>
  </div>
  <div class="statistics-content">
    <div class="kairos-box-shadow stat-grid-div weekly-statistics" [ngClass]="{'isLoading': !isHoursStudiedLoaded}">
      <h2 class="weekly-title">Durée des sessions</h2>
      <h6 *ngIf="!isHoursStudiedLoaded">Chargement...</h6>
      <div class="chart-container">
        <canvas id="weekly-chart" height="300"
                baseChart
                [type]="'line'"
                [data]="weeklyLineChartData"
                [options]="weeklyLineChartOptions"
                [legend]="weeklyLineChartLegend">
        </canvas>
      </div>
      <h6 style="margin-top: 10px" *ngIf="weeklyLineChartData.datasets[0].data.length === 0">Aucun donnée à analyser.</h6>
    </div>
    <div class="kairos-box-shadow stat-grid-div session-time" [ngClass]="{'isLoading': !isHoursPerLabelLoaded}">
      <h2 class="session-time-title">Temps de travail par session</h2>
      <h6 *ngIf="!isHoursPerLabelLoaded">Chargement...</h6>
      <div class="chart-container">
        <canvas id="session-time-bar" height="300"
                baseChart
                [type]="'bar'"
                [data]="timeBarChartData"
                [options]="timeBarChartOptions"
                [plugins]="timeBarChartPlugins"
                [legend]="timeBarChartLegend">
        </canvas>
      </div>
      <h6 style="margin-top: 10px" *ngIf="timeBarChartData.datasets[0].data.length === 0">Aucun donnée à analyser.</h6>
    </div>
    <div class="kairos-box-shadow stat-grid-div session-type">
      <h2 class="session-type-title">En développement</h2>
      <h5 style="text-align: center">Types de sessions de travail</h5>
      <div class="chart-container">
        <canvas id="session-type-doughnut"
                baseChart
                [type]="'doughnut'"
                [labels]="typeDoughnutChartLabels"
                [datasets]="typeDoughnutChartDatasets"
                [options]="typeDoughnutChartOptions"
                [legend]="true">
        </canvas>
      </div>
    </div>
  </div>
</div>
