@use '/src/styles/variables.scss' as vars;

.statistics-container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // height: 100%;
    // width: 100%;
    padding: 30px 240px 30px 240px;
    .statistics-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .weekly-statistics { 
            grid-area: 1 / 1 / 2 / 3;
            max-height: 500px;
        }
        .chart-container {
            display: flex;
            justify-content: center;
            align-items: center;    
        }
        .work-rate { 
            grid-area: 2 / 1 / 3 / 2;
            max-height: 150px;
            .work-rate-text {
                display: flex;
                justify-content: center;
                text-align: center;
                padding-right: 5px;
                color: vars.$up-rate-color;
                font-size: 30px;
            }
        }
        .session-time { 
            grid-area: 3 / 1 / 4 / 2;
            max-height: 350px;
        }
        .session-type { 
            grid-area: 2 / 2 / 4 / 3;
            max-height: 600px;
        }
        .stat-grid-div {
            border-radius: 15px;
            padding: 30px;
            background-color: vars.$first-color;
            box-shadow: 5px 5px 15px 0px rgba(51,87,108,0.75);
            -webkit-box-shadow: 5px 5px 15px 0px rgba(51,87,108,0.75);
            -moz-box-shadow: 5px 5px 15px 0px rgba(51,87,108,0.75);
        }
    }
}