@use '/src/styles/variables.scss' as vars;

.isLoading {
  background-color: vars.$under-dev-background;
  opacity: vars.$under-dev-opacity;
}

.statistics-container {
    padding: 30px 240px 30px 240px;
    .statistics-title {
        margin-bottom: 15px;
        .statistics-date {
            font-size: 24px;
        }
        .work-rate-text {
            padding-right: 5px;
            font-size: 21px;

            .chart-icon-up {
                color: vars.$up-rate-color;
            }

          .chart-icon-down {
                color: vars.$down-rate-color;
            }
        }
    }
    .statistics-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .weekly-statistics {
            width: 100%;
            min-height: 400px;
            max-height: 400px;
        }
        .session-time {
            width: 100%;
            min-height: 400px;
            max-height: 400px;
        }
        .session-type {
            width: 100%;
            min-height: 400px;
            max-height: 400px;

          background-color: vars.$under-dev-background;
          opacity: vars.$under-dev-opacity;
        }
        .stat-grid-div {
            border-radius: 15px;
            padding: 30px;
            background-color: vars.$first-color;
        }
    }
}

.chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
