@use '/src/styles/variables.scss' as vars;

.profile-app-container {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 30px;
    .profile-container {
      padding: 15px;
      background-color: vars.$first-color;
    }
    .g-pas-de-nom-trouve-un-nom-christopher {
      display: flex;
      gap: 30px;
      div {
        width: 50%;
      }
      .label-container {
        background-color: vars.$first-color;
        padding: 15px;
        .label-content {
          display: flex;
          flex-direction: column;
          width: 100%;
          .label-input {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: auto;
            input {
              font-size: 18px;
              border-radius: 8px;
              gap: 10px 20px;
              margin-bottom: 4px;
              &:disabled {
                border-style: none;
                background-color: none;
              }
            }
            .label-edit-controller {
              display: flex;
              justify-content: space-between;
              width: 60px;
              button {
                font-size: 18px;
                border-style: none;
                background-color: transparent; 
              }
            }
          }
        }
      }
      .group-container {
        padding: 15px;
        background-color: vars.$first-color;
      }
    }
}