<div class="profile-app-container">
  <h1>Page de profil</h1>
  <div class="kairos-box-shadow profile-container">
    <h2 class="profile-title">Profil</h2>
    <div class="profile-content">
      <h4 class="profile-label">Prenom:</h4><p>{{currentUser?.firstName}}</p>
      <h4 class="profile-label">Nom:</h4><p>{{currentUser?.lastName}}</p>
      <h4 class="profile-label">Mail:</h4><p>{{currentUser?.email}}</p>
    </div>
  </div>
  <div class="profile-bottom-part">
    <div class="kairos-box-shadow label-container">
      <div class="label-title-content">
        <h2 class="label-title">Label</h2>
        <button (click)="newLabel()"><fa-icon [icon]="faSquarePlus"></fa-icon></button>
      </div>
      <div class="label-content">
        <div class="label-input">
          <form [formGroup]='labelForm' (ngSubmit)='onLabelFormSubmit()'>
            <input value="" id="newLabel" *ngIf="createLabel">
            <div class="label-edit-controller">
            <button *ngIf="createLabel" (click)="onLabelFormSubmit()"><fa-icon [icon]="faCheck"></fa-icon></button>
            <button *ngIf="createLabel" (click)="cancelCreation()"><fa-icon [icon]="faTimes"></fa-icon></button>
          </div>
        </form>
        </div>
      </div>
      <div class="label-content" *ngIf="allLabels != undefined && allLabels.length > 0 else emptyLabels">
        <div class="label-input" *ngFor="let label of allLabels">
          <input value="{{label.labelTitle}}" [disabled]="!labelVisible">
          <div class="label-edit-controller">
            <button *ngIf="!labelVisible else saveButton" (click)="IsLabelEditable()"><fa-icon [icon]="faPencil"></fa-icon></button>
            <ng-template #saveButton>
              <button *ngIf="labelVisible" (click)="updateLabel(label.labelId)"><fa-icon [icon]="faCheck"></fa-icon></button>
              <button *ngIf="labelVisible" (click)='LabelDelete(label.labelId)'><fa-icon [icon]="faTrashCan"></fa-icon></button>
            </ng-template>
          </div>
        </div>
      </div>
      <ng-template #emptyLabels>
          <p *ngIf="!createLabel">Aucun label existants</p>
      </ng-template>
    </div>
    <div class="kairos-box-shadow group-container">
      <div class="group-title-content">
        <h2>Groupe</h2>
        <button><fa-icon [icon]="faSquarePlus"></fa-icon></button>
      </div>
      <div class="group-form" *ngIf="!groupDatasaved">
        <form [formGroup]='groupForm' (ngSubmit)='onGroupFormSubmit()'>
          <input formControlName="title">
          <button [disabled]="groupForm.invalid"><fa-icon [icon]="faCheck"></fa-icon></button>
        </form>
      </div>
      <div class="group-content" *ngFor="let group of allgroups| async">
        <div class="group-name-container">
        <p class="group-name" (click)="IsGroupEditable()">{{group.groupName}}</p>
        <button *ngIf="!groupVisible"><fa-icon [icon]="faChevronDown"></fa-icon></button>
        <button *ngIf="groupVisible"><fa-icon [icon]="faCheck"></fa-icon></button>
        <button *ngIf="groupVisible"><fa-icon [icon]="faSquarePlus"></fa-icon></button>
        </div>
        
        <ul>
          <li *ngFor="let member of group.users">
            <div class="group-member-container" *ngIf="groupVisible">
              <p>{{member.firstName}} {{member.lastName}}</p>
              <button (click)="GroupDelete(group.groupId)"><fa-icon [icon]="faTrashCan"></fa-icon></button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
