<div class="profile-app-container">
  <h1>Page de profil</h1>
  <div class="kairos-box-shadow profile-container">
    <h2 class="profile-title">Profil</h2>
    <div class="profile-content">
      <p>profile works!</p>
    </div>
  </div>
  <div class="g-pas-de-nom-trouve-un-nom-christopher">
    <div class="kairos-box-shadow label-container">
      <h2 class="label-title">Label</h2>
      <div class="label-content">
        <div class="label-input" *ngFor="let label of labels">
          <input value="{{label.name}}" disabled="true">
          <div class="label-edit-controller">
            <button><fa-icon [icon]="faPencil"></fa-icon></button>
            <button><fa-icon [icon]="faTrashCan"></fa-icon></button>
          </div>
        </div>
      </div>
    </div>
    <div class="kairos-box-shadow group-container">
      <h2 class="group-title">Groupe</h2>
      <div class="group-content">
        <div class="bref-trouve-un-nom-autre-que-group-group-content-et-kairos-group-content" >
          <!--Le fameux input avec le nom du groupe ↑ngFor↑ 
          bouton ajouter et éditer le nom même comportement que les labels
          div
            ul
              li ngFor
                div
                  p nom du gars dans le groupe
                  bouton pour enlever si chef du groupe bah y a pa le bouton
                div 
              li
              li
                div
                  p nom du gars dans le groupe
                  bouton pour enlever si chef du groupe bah y a pa le bouton
                div 
              li
            ul
          div
          -->
        </div>
      </div>
    </div>
  </div>
</div>
