@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
$first-color: #eff7f7;
$second-color: #d7e6eb;
$third-color: #33576c;
$fourth-color: #162741;
$up-rate-color: #527a47;
$down-rate-color: #9f0600;
$under-dev-background: #A5A7A8;
$under-dev-opacity: .4;
