@use '/src/styles/variables.scss' as vars;

app-modal-dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
}

app-tiny-timer{ 
    position: fixed;
    left: 30px;
    top: 120px;
    z-index: 1;
}

app-alert-dialog {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

#app-container {
    height: 90vh;
}