<ng-container *ngIf="event">
    <h2>#{{ event.id }}</h2>
    <h1>{{ event.title }}</h1>
    <p>{{ event.description }}</p>
    <div class="highlights">
        <div class="highlight">
            <p>Assing to</p>
            <span>{{ event.assignedTo || 'Not assigned yet' }}</span>
        </div>
        <div class="highlight">
            <p>Due date</p>
            <span>{{ event.dueDate || 'No due date' }}</span>
        </div>
    </div>
</ng-container>
<app-error-not-found *ngIf="!event" [message]="'Task not found'">
</app-error-not-found>