<nav *ngIf="nav.isVisible">
    <div class="navbar">
        <button class="home-button" *ngIf="!nav.isBackVisible; else backButton"><h1 class="app-title">KAIROS</h1></button>
        <ng-template #backButton>
            <button class="back-button" (click)="goToTimer()"><fa-icon class="back-icon" [icon]="faCircleLeft"></fa-icon></button>
        </ng-template>
        <div class="nav-button-container">
            <button class="nav-button" (click)="goToCalendar()"><fa-icon class="navbar-icon" [icon]="faCalendar"></fa-icon></button>
            <button class="nav-button" (click)="goToStatistics()"><fa-icon class="navbar-icon" [icon]="faChartLine"></fa-icon></button>
            <button class="nav-button" (click)="goToCompanion()"><fa-icon class="navbar-icon" [icon]="faPaw"></fa-icon></button>
            <button class="nav-button" (click)="goToProfil()"><fa-icon class="navbar-icon" [icon]="faUser"></fa-icon></button>
        </div>
    </div>
    <button class="nav-tongue" *ngIf="nav.isStarted"><fa-icon [icon]="faEllipsis"></fa-icon></button>
</nav>