@use '/src/styles/variables.scss' as vars;

nav {
    display: flex;
    align-items: center;
    .navbar {
        width: 100vw;
        height: 78px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 9px 45px 9px 45px;
        background-color: vars.$fourth-color;
        .home-button {
            width: auto;
            font-size: 24px;
            border-style: none;
            background-color: transparent;
            .app-title {
                color: vars.$first-color;
            }
        }
        .back-button {
            font-size: 39px;
            border-style: none;
            background-color: transparent;
            .back-icon {
                color: vars.$first-color;
            }
        }
        .nav-button-container {
            width: 210px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-button {
                font-size: 24px;
                padding: 7px;
                border-style: none;
                color: vars.$first-color;
                background-color: transparent;
                transition: ease-out 0.1s;
                &:hover {
                    transition: ease-out 0.1s;
                    transform: scale(1.15);
                }
                .navbar-icon {
                    color: vars.$first-color;
                }
            }
        }
    }
    .nav-tongue {
        width: 50%;
        height: 30px;
        font-size: 30px;
        border-radius: 0 0 12px 12px;
        border-style: none;
        background-color: vars.$fourth-color;
        .tongue-icon {
            color: vars.$first-color;;
        }
    }
}